@import "src/scss/variables.scss";

img {
  height: 2em;
}

header {
  background: #eee;
  height: $height;
  padding: 0 0.5em;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    padding: 0 0.5em;
    font-size: 1.3em;
  }
}
