<main>
  <h1>Ajout d'un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Nom</div>
      <input type="text" formControlName="name" />
      <div class="error">
        <div [hidden]="f.controls.name.valid">
          <div *ngIf="f.controls.name.errors?.required">Champ obligatoire</div>
          <div *ngIf="f.controls.name.errors?.minlength">
            Le nom doit comporter au moins
            {{ f.controls.name.errors?.minlength.requiredLength }} caractères.
          </div>
        </div>
      </div>
    </label>
    <label>
      <div>Prix</div>
      <input type="text" formControlName="price" />
    </label>
    <label>
      <div>Quantité</div>
      <input type="text" formControlName="qty" />
    </label>
    <nav class="buttons">
      <button type="button" routerLink="..">Retour</button>
      <button [disabled]="f.invalid" type="submit" class="primary">
        Ajouter
      </button>
    </nav>
  </form>
</main>
