<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Saepe libero quod ad. Porro hic
    magnam cumque quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe libero quod ad. Porro hic magnam cumque
    quas, quo perspiciatis quos. Obcaecati dolore minima nam illum
    necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero quod
    ad. Porro hic magnam cumque quas, quo perspiciatis quos. Obcaecati dolore
    minima nam illum necessitatibus voluptatibus sed officiis quam.
  </p>
</main>
